<div class="container">
<br>
	<div class="well well-lg">
  Look, I'm in a large well!
</div>
<div class="well well-lg ">
  <p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
       
  <div class=" modal-footer"><button type="button" class="btn btn-raised btn-warning">Archivar</button></div>
      
</div>

<div class="list-group">
  <div class="list-group-item">
    <div class="row-action-primary">
      <i class="material-icons">folder</i>
    </div>
    <div class="row-content">
      <div class="least-content">15m</div>
      <h4 class="list-group-item-heading">Tile with a label</h4>

      <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.</p>
    </div>

  </div>
  <div class="list-group-separator"></div>
  <div class="list-group-item">
    <div class="row-action-primary">
      <i class="material-icons">folder</i>
    </div>
    <div class="row-content">
      <div class="least-content">10m</div>
      <h4 class="list-group-item-heading">Tile with a label</h4>

      <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
    </div>
  </div>
  <div class="list-group-separator"></div>
  <div class="list-group-item">
    <div class="row-action-primary">
      <i class="material-icons">folder</i>
    </div>
    <div class="row-content">
      <div class="least-content">8m</div>
      <h4 class="list-group-item-heading">Tile with a label</h4>

      <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
    </div>
  </div>
  <div class="list-group-separator"></div>
</div>

</div>